<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Enjoin ORM</title>

    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono" rel="stylesheet">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <link rel="stylesheet" href="stylesheets/monokai.css">
    <meta name="viewport" content="width=device-width">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
</head>
<body>
<div class="wrapper">
    <header>
        <h1>{{ page_h1 }}</h1>
        <p>{{ page_desc }}</p>
        <p class="view"><a href="{{ gh_home }}">View the Project on GitHub
            <small>{{ gh_name }}</small>
        </a></p>
        <ul>
            <li><a href="{{ gh_home }}/zipball/master">Download <strong>ZIP File</strong></a></li>
            <li><a href="{{ gh_home }}/tarball/master">Download <strong>TAR Ball</strong></a></li>
            <li><a href="{{ gh_home }}">Fork On <strong>GitHub</strong></a></li>
        </ul>
    </header>
    <section>{{ content }}</section>
    <footer></footer>
</div>
<script src="javascripts/scale.fix.js"></script>
</body>
</html>
