[mysqld]

# GENERAL #
default_authentication_plugin=mysql_native_password
port=3306
default-storage-engine=InnoDB
socket=/var/lib/mysql/mysql.sock
pid-file=/var/run/mysqld/mysqld.pid

# VALIDATION #
validate_password.length=3
validate_password.mixed_case_count=0
validate_password.number_count=0
validate_password.policy=0
validate_password.special_char_count=0

# SAFETY #
max-allowed-packet=16M
max-connect-errors=1000000

# DATA STORAGE #
datadir=/var/lib/mysql

# BINARY LOGGING #
log-bin=OFF

# CACHES AND LIMITS #
tmp-table-size=32M
max-heap-table-size=32M
max-connections=500
thread-cache-size=50
open-files-limit=65535
table-definition-cache=1024
table-open-cache=2048

# INNODB #
innodb-flush-method=O_DIRECT
innodb-log-files-in-group=2
innodb-log-file-size=64M
innodb-flush-log-at-trx-commit=2
innodb-file-per-table=1
innodb-buffer-pool-size=320M

# LOGGING #
log-error=/var/log/mysql/error.log
log-queries-not-using-indexes=1
slow-query-log=1
slow-query-log-file=/var/log/mysql/slow.log
general-log=1
general-log-file=/var/log/mysql/mysql.log
